$color-black: #000000;
$color-quicksilver: #A2A2A2;
$color-shinyshamrock: #4CA866;
$color-Spanishgray: #989797;
$color-flame: #E4572E;
$color-blueFrance: #3C91E6;
$color-white: #FFF;
$color-Outerspacy: #454545
